{
    "runs": 10,
    "data": "data/luteo-1796-1798.txt",

    "partition":{
        "column": 3,
        "range": 6000
    },

    "sample": 10000,

    "norm":{
        "method": "feature_scale",
        "columns":[4,5]
    },

    "range":[4,12],

    "parameters":{
        "range": true,
        "option": "min_cluster_size",
        "min":[2,10,1]
    },

    "threads":8
}